streamlit==1.32.2
python-dotenv==1.0.1
Pillow==10.2.0
PyPDF2==3.0.1
python-docx==1.1.0
pytesseract==0.3.10
opencv-python==4.9.0.80
sentence-transformers==2.2.2
faiss-cpu
groq==1.0.0
tqdm==4.66.2
transformers==4.38.2
